/*
!.gitignore
!.gitmodules
!.emacs.d/init.el
!.config/fish/config.fish
!.config/alacritty/alacritty.toml
!.config/alacritty/solarized_dark.toml
!.config/alacritty/solarized_light.toml
!.config/zed/settings.json
!.config/ghostty/config
!README.md
